* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  display: grid;
  place-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  display: flex;
  flex-direction: column;
  gap: 5vmin;
}

#input {
  color: black;
  display: flex;
  gap: 2.5vmin;
}

#submit {
  background: none;
  border: none;
}